* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.car-photo {
  width: 100%;
}
.car {
}
.car-number {
  position: absolute;
  font-size: 600px;
  font-family: Montserrat;
  opacity: 0.5;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
